@font-face {
  font-family: "iconfont"; /* Project id 2590064 */
  src: url('//at.alicdn.com/t/font_2590064_a82ld7ihgrb.woff2?t=1624591136993') format('woff2'),
       url('//at.alicdn.com/t/font_2590064_a82ld7ihgrb.woff?t=1624591136993') format('woff'),
       url('//at.alicdn.com/t/font_2590064_a82ld7ihgrb.ttf?t=1624591136993') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shangyiye:before {
  content: "\e695";
}

.icon-xiayiye:before {
  content: "\e69a";
}

.icon-zuojiantou:before {
  content: "\e735";
}

.icon-geren:before {
  content: "\e680";
}

.icon-fenxiang:before {
  content: "\e65c";
}

.icon-brightj2:before {
  content: "\e685";
}

.icon-gouwuche:before {
  content: "\e699";
}

.icon-progress:before {
  content: "\e609";
}

.icon-gengduo:before {
  content: "\e657";
}

.icon-xianxingtubiaozhizuomoban-39:before {
  content: "\e620";
}