@import '@/assets/style/mixin.scss';
.menu-wrapper{
  .book-menu{
    z-index: 20;
    position: absolute;
    left: 0;
    bottom:0;
    display: flex;
    width: 100%;
    height: 50px;
    box-shadow: 0 -5px 5px rgba(0,0,0,.15);
    background: white;
    >div{
    flex: 1;
    @include flex-center;
    cursor: pointer;
    }
    &.noboxshadow{
      box-shadow: none;
    }
  }
  .setting-box{
    z-index: 19;
    position: absolute;
    left: 0;
    bottom:50px;
    width: 100%;
    height: 60px;
    box-shadow: 0 -5px 5px rgba(0,0,0,.15);
    background: white;
    .font-setting{
      display: flex;
      width: 100%;
      height: 100%;
      .preview{
       flex: 0 0 10%;
       @include flex-center;
      }
      .font-select{
        flex: 1;
        display: flex;
        .select-wrapper{
          flex: 1;
          display: flex;
          align-items: center;
          cursor: pointer;
          &:first-child{
            .line{
              &:first-child{
                border-top: none;
              }
            }
          }
          &:last-child{
            .line{
              &:last-child{
                border-top: none;
              }
            }
          }
          .line{
            flex: 1;
            height: 0;
            border-top: 1px solid #ccc;
          }
          .point-wrapper{
            position: relative;
            flex: 0 0 0;
            width: 0;
            height: 7px;
            border-left: 1px solid #ccc;
          }
          .point{
            position: absolute;
            top: -8px;
            left: -8px;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            background: white;
            border: 1px solid #ccc;
            box-shadow: 0 4px 4px rbga(0,0,0,.15);
            @include flex-center;
            .small-point{
              width: 5px;
              height: 5px;
              background: black;
              border-radius: 50%;
            }
          }
        }

      }
    }
    .themes-setting{
      display: flex;
      align-items: center;
      width: 100%;
      height: 100%;
      .themes-wrapper{
        flex: 1;
        display: flex;
        flex-direction: column;
        padding: 5px;
        box-sizing: border-box;
        color: #ccc;
        .bg--box{
          height: 35px;
          cursor: pointer;
        }
        .bg-des{
          text-align: center;
          font-size: 14px;
        }
        .default-desc{
          color: #333;
        }
        .bg-border{
          border: 1px solid #ccc;
        }
      }
    }
    .progress-setting{
      position: relative;
      width: 100%;
      height: 100%;
      @include flex-center;
      .progress{
        width: 80%;
        height: 2px;
      }
      .range-tip{
        position: absolute;
        bottom: 0;
        font-size: 12px;
        text-align: center;
      }
    }
  }
  .book-content{
    z-index: 50;
  }
  .content-mask{
    z-index: 30;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(51,51,51,.8);
  }
}