.book-wrapper{
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  .mask{
    z-index: 10;
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    .left{
    flex: 0 0 20%;
    }
    .center{
    flex: 1;
    }
    .right{
    flex: 0 0 20%;
    }
  }
}